
#Background {
    -fx-background-color: #000000;
}


#displayCurrent {
    -fx-text-fill: white;
    -fx-font-size: 40px;
}

#displayPrevious {
    -fx-text-fill: white;
}


#clearButton, #deleteButton, #modButton {
    -fx-background-color: #1e1a17;
    -fx-text-fill: white;
}

#divideButton, #multiplyButton, #minusButton, #plusButton {
    -fx-background-color: #1e1a17;
    -fx-text-fill: white;
}
#num0, #num1, #num2, #num3, #num4, #num5, #num6, #num7, #num8, #num9,#negateButton,#decimalButton{
    -fx-background-color: #333333;
    -fx-text-fill: white;
}


#equalsButton {
    -fx-background-color: #FF9500;
    -fx-text-fill: white;
}
.button {

    -fx-background-radius: 500;


    -fx-min-width: 50px;
    -fx-min-height: 50px;

    -fx-alignment: center;
}

.button:hover {
    -fx-opacity: 0.8;
    -fx-cursor: hand;
}


.button:pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
}


.button:hover {
    -fx-brightness: 1;
}